@charset "utf-8";
/* CSS Document */
.carousel{
	height: 370px;
	width: 600px;
}
.navig{
	height: 40px;
	line-height: 40px;
	border-bottom:solid 1px #ecf0f1;
}

.navig li{
	font-size: 14px;
}

.navig li a {
	font-size: 14px;
	color: #004f90;

}
.width65{
	width: 65;
}
.bg-img{
	background-image: url(nav-title.jpg);
	background-position: -6000px -550px;
}

.news_imgs {
	/* background-image: url(nav-title.jpg); */
	/* width: 900px;height: 30px;margin-top: -1px; */
}

.news_imgs img{
	width: 100%;height: 30px;margin-top: -1px
}

.homess{
	width: 100%;height: 30px;margin-top: -30px;z-index: 9000;position: absolute;
}